body{
    position: relative;
}
.site-center-fullwidth{
    width: 100%;
    text-align: center;
}
.site-center-fullwidth > .site-center-maxwidth{
    width: 100%;
    max-width: 1000px;
    display: inline-block;
    text-align: left;
}

a{
    color: #000;
}

a:hover{
    color: #000;
    text-decoration: none;
}
#top{
    background-color: #f1d239;
    height: 70px;
    box-shadow: 0 10px 39px -6px rgba(0,0,0,0.17);
}
#menu{
    width: calc(100% - 135.281px);
    padding: 16px;
    float: left;
}
#menu > a{
    font-size: 20px;
}
#top > div > img{
    height: 70px;
    float: right;
}
#cuerpo > div > h1{
    margin: 50px 0;
}
#propuesta{
    margin: 10px 0 0 0;
}
#p-text {
    margin: 0 5px 0 0;
    padding: 40px;
    width: 575px;
    height: 400px;
    font-size: 20px;
    background-color: rgb(236, 236, 236);
    display: inline-block;
    float: left;
    box-shadow: 0 0 58px 1px rgba(0,0,0,0.22);
}
#p-text > p{
    padding: 40px 0 ;
    font-size: 22px;
    color: #4d4d4d;
}

#p-img {
    display: inline-block;
    width: 420px;
    height: 400px;
    background-image: url("resources/pace-oregon-state-php-mysql-programming-code-web-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    filter: blur(0) saturate(0.8);
    transition: background-image 0.5s;
    text-align: center;
    box-shadow: 0 0 58px 1px rgba(0,0,0,0.22);
}
#p-img:hover {
    background-image: url("resources/pace-oregon-state-php-mysql-programming-code-web-design-blur.jpg");
}
#p-img:hover > button {
    height: 64px;
    margin: 168px 0;
    font-size: 23px ;
 }

#propuesta > div > button {
    height: 50px;
    margin: 175px 0;
    transition: height 0.5s, margin 0.5s, font-size 0.5s;
}
#footer{
    height: 0;
    position: absolute;
    bottom: 0;
    background-color: rgb(241, 210, 57);
}